#main {
    display: flex;
}

#app {
    width: 100vw;
    height: 100vh;
}

.editor__editable,
/* Classic build. */
main .ck-editor[role='application'] .ck.ck-content,
/* Decoupled document build. */
.ck.editor__editable[role='textbox'],
.ck.ck-editor__editable[role='textbox'],
/* Inline & Balloon build. */
.ck.editor[role='textbox'] {
	width: 75vw;
	background: #fff;
	font-size: 1em;
	line-height: 1.6em;
	min-height: 92vh;
	padding: 1.5em 2em;
}

main .ck-editor[role='application'] {
	overflow: auto;
}

