#sideBar{
    width: 25%;
    height: 110px;
}

#sideBar_components{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

#sideBar_components > button{
    margin-left: .5em;
}

#notesList {
    top: 110px;
    position: fixed;
    width: 24%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    border: none;
}

.noteItems{
    display: flex;
}

#vertDivider{
    left: 24.5%;
    position: fixed;
}

#currentNote{
    text-align: center;
    padding-bottom: .5em;
}