#sideBar{
    width: 40%;
    height: 100vh;
}

#sideBar_components{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 90%;
}

#sideBar_components > button{
    margin-left: .5em;
}

#notesList {
    top: 110px;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    border: none;
}

.noteItems{
    display: flex;
}


#currentNote{
    text-align: center;
    padding-bottom: .5em;
}
